<section class="flex justify-center h-10 items-center">
  <nav class="flex justify-end gap-8 w-[80%]">
    <% if current_user %>
      <%= current_user.username %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo: :false } %>
    <% else %>
      <p class="<%= 'text-red-400' if current_page?(new_user_session_path) %>">
        <%= link_to "Sign In", new_user_session_path %>
      </p>
      <p class="<%= 'text-red-400' if current_page?(new_user_registration_path) %>">
        <%= link_to "Sign Up", new_user_registration_path %>
      </p>
    <% end %>
  </nav>
</section>
