<section class="flex justify-center h-12 items-center text-primary w-screen bg-black/40">
  <nav class="flex justify-end gap-8 w-[80%] font-bold">
    <% if current_user %>
      <%= current_user.username %>
      <% if current_user.role == 'admin' %>
        <p class="<%= 'text-red-400' if current_page?('/dashboard') %>">
          <%= link_to "Dashboard", "/dashboard", class: "hover:text-red-400" %>
        </p>
        <p class="<%= 'text-red-400' if current_page?(root_path) %>">
          <%= link_to "Search", root_path, class: "hover:text-red-400" %>
        </p>
      <% end %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo: :false }, class: "hover:text-red-400" %>
    <% else %>
      <p class="<%= 'text-red-400' if current_page?(new_user_session_path) %>">
        <%= link_to "Sign In", new_user_session_path, class: "hover:text-red-400" %>
      </p>
      <p class="<%= 'text-red-400' if current_page?(new_user_registration_path) %>">
        <%= link_to "Sign Up", new_user_registration_path, class: "hover:text-red-400" %>
      </p>
    <% end %>
  </nav>
</section>
