<h1 class="flex justify-center mt-4 font-bold text-xl"><%= model %></h1>
<table class="w-full text-center mt-4">
  <thead class="pt-8">
    <tr class="bg-white/40 text-black font-bold">
      <% attributes.each do |attr| %>
        <th class="py-2"><%= attr %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% objects.each do |obj| %>
      <tr class="even:bg-black/20 odd:bg-black/30 hover:bg-black/60">
        <td class="py-2">
          <%= obj.id %>
        </td>
        <td class="font-bold hover:text-red-400 w-[60%]">
          <% if model == "User" %>
            <%= link_to obj.username, "/users/#{obj.id}/trends" %>
          <% elsif model == "Trend" %>
            <%= link_to obj.keyword, "/trends/#{obj.id}/users" %>
          <% end %>
        </td>
        <% if model == "Trend" %>
          <td><%= obj.popularity %></td>
        <% end %>
        <td>
          <% if model == "User" %>
            <%= obj.trends.count %>
          <% elsif model == "Trend" %>
            <%= obj.users.count %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
